// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
    height: auto;
    // background: #eee;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)),
        url(/images/lighted-candles-on-cupcakes-40183.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a {
    outline: none !important;
}

/*
* Extra utilities
*/
.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}
.overflow-hidden {
    overflow: hidden;
}
  