<template>
    <div class="detail_line_graph_container" ref="container">
        <div v-if="apiState === 'loading'" class="h-100 text-center py-5">
            <div class="pb-3">Loading Historical Currency Data...</div>
            <loading-spinner></loading-spinner>
        </div>
        <div v-if="apiState === 'failed'" class="h-100 text-center py-5" v-html="errorMessage"></div>
        <apexchart v-if="apiState === 'loaded'" :width="chartWidth" :height="chartHeight" type="line" :options="chartOptions" :series="chartData"></apexchart>
    </div>
</template>

<script>
    export default {
        name: 'details-line-graph',
        props: {
            submission: {
                type: String,
                default: ""
            }
        },
        data: function () {
            return {
                apiState: 'loading',
                errorMessage: '',
                history: [{base: '', rates: {'': 0}}],
                chartWidth: 0,
                chartHeight: 0
            }
        },
        computed: {
            chartData() {
                return [{
                    name: this.history[0].base + ' to ' + Object.keys(this.history[0].rates)[0],
                    data: this.history.map(hist => { return hist.rates[Object.keys(hist.rates)[0]] })
                }]
            },
            chartOptions() {
                return {
                    chart: {
                        id: 'vuechart-birthday-currency',
                        toolbar: {
                            show: true,
                            tools: {
                                download: true,
                                selection: false,
                                zoom: false,
                                zoomin: false,
                                zoomout: false,
                                pan: false,
                                reset: false
                            },
                            autoSelected: 'selection'
                        },
                        theme: {
                            monochrome: {
                                enabled: true,
                                color: '#ff0000',
                                shadeTo: 'light',
                                shadeIntensity: 0.65
                            }
                        }
                    },
                    xaxis: {
                        categories: this.history.map(hist => {
                            var date = new Date(hist.date);
                            return `${date.getOrdinalDay()} ${date.getMonthName().substring(0,3)}. ${date.getFullYear()}`;
                        })
                    }
                };
            }
        },
        methods: {
            updateChartDimensions() {
                this.chartWidth = this.$refs.container.offsetWidth;
                this.chartHeight = '100%';
            },
            loadDataFromAPI: async function () {
                // Load historical data from API
                await axios.get('/api/submissions/'+this.submission+'/history')
                    .then(response => {
                        window.addEventListener("resize", this.updateChartDimensions);
                        this.updateChartDimensions();

                        this.history = response.data.data;
                        this.apiState = 'loaded';
                    })
                    .catch(error => {
                        this.errorMessage = '<b>We were unable to load historical currency data for this submission.</b>'
                        this.apiState = 'failed';
                    });
            }
        },
        created() {
            // Date formatting helper methods for labelling
            Date.prototype.monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            Date.prototype.getMonthName = function() {
                return this.monthNames[this.getMonth()];
            };
            Date.prototype.getOrdinalDay = function() {
                var day = this.getDate();
                return day + (day > 0 ? ['th', 'st', 'nd', 'rd'][(day > 3 && day < 21) || day % 10 > 3 ? 0 : day % 10] : '');
            }
        },
        mounted() {
            this.loadDataFromAPI();
        }
    }
</script>

<style scoped>

.detail_line_graph_container {
    width: 100%;
    height: 100%;
}

</style>