<template>
    <div class="submission_card_container" ref="container">
        <div class="card bg-white">
            <div v-if="apiState === 'loading'" class="h-100 text-center py-4">
                <loading-spinner></loading-spinner>
            </div>
            <div v-if="apiState === 'failed'" class="card-body">
                <p class="card-text" v-html="errorMessage"></p>
            </div>
            <div v-if="apiState === 'loaded'" class="card-body">
                <p class="card-text" v-if="isLatest">On your latest birthday ({{formattedDate}}), 1 {{currencyFrom}} = </p>
                <p class="card-text" v-else>On {{formattedDate}}, 1 {{currencyFrom}} = </p>
                <h5 class="card-title lead">{{rate}} <small>{{currencyTo}}</small></h5>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'submission-card',
        props: {
            submission: {
                type: String,
                default: ""
            },
            isLatest: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                apiState: 'loading',
                errorMessage: '',
                submissionData: {}
            }
        },
        computed: {
            formattedDate () {
                var date = new Date(this.submissionData.latest_birthday);
                return `${date.getOrdinalDay()} ${date.getMonthName()} ${date.getFullYear()}`;
            },
            currencyFrom () {
                return 'EUR';
            },
            currencyTo () {
                return this.submissionData.currency_code;
            },
            rate () {
                return this.submissionData.latest_rate;
            }
        },
        methods: {
            loadDataFromAPI: async function () {
                // Load the submission's data from API
                await axios.get('/api/submissions/'+this.submission)
                    .then(response => {
                        this.submissionData = response.data.data;
                        this.apiState = 'loaded';
                    })
                    .catch(error => {
                        this.errorMessage = '<b>We were unable to load information for this submission.</b>'
                        this.apiState = 'failed';
                    });
            }
        },
        created() {
            Date.prototype.monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            Date.prototype.getMonthName = function() {
                return this.monthNames[this.getMonth()];
            };
            Date.prototype.getOrdinalDay = function() {
                var day = this.getDate();
                return day + (day > 0 ? ['th', 'st', 'nd', 'rd'][(day > 3 && day < 21) || day % 10 > 3 ? 0 : day % 10] : '');
            }
        },
        mounted() {
            this.loadDataFromAPI();
        }
    }
</script>

<style scoped>
</style>