<template>
    <div class="submission_browser_container" ref="container">
        <submission-browser-month
            v-for="(sub, i) in months"
            :key="i"
            :month="sub.month"
            :year="sub.year"
            :per-row="perRow"
        ></submission-browser-month>
    </div>
</template>

<script>
    export default {
        name: 'submission-browser',
        props: {
            yearTo: {
                type: Number,
                default: 2019
            },
            yearFrom: {
                type: Number,
                default: (2019 -5)
            },
            perRow: {
                type: Number,
                default: 4
            }
        },
        data: function () {
            return {
                months: []
            }
        },
        computed: {
        },
        methods: {
        },
        created() {
            Date.prototype.monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            Date.prototype.getMonthName = function() {
                return this.monthNames[this.getMonth()];
            };
            Date.prototype.getOrdinalDay = function() {
                var day = this.getDate();
                return day + (day > 0 ? ['th', 'st', 'nd', 'rd'][(day > 3 && day < 21) || day % 10 > 3 ? 0 : day % 10] : '');
            }

            for (var year = this.yearTo; year >= this.yearFrom; year--) {
                for (var month = Date.prototype.monthNames.length -1; month >= 0; month--) {
                    this.months.push({
                        month: Date.prototype.monthNames[month],
                        year: year
                    });
                }
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
</style>