<template>
    <div class="submission_placeholder_card_container " ref="container">
        <div class="card px-3 h-100">
            <p class="card-text"></p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'submission-placeholder-card'
    }
</script>

<style scoped lang="scss">
.submission_placeholder_card_container {
    .card {
        background: #eee;
        opacity: .5;
    }
}
</style>