<template>
    <div class="submission_aggregate_card_container " ref="container">
        <div class="card bg-white">
            <div class="card-body">
                <div
                    v-for="(submission, i) in submissionsData"
                    :key="i"
                >
                    <p class="card-text" v-if="i === 0">{{submission.count}} user{{submission.count === 1 ? '' : 's'}} whose latest birthday was on {{formattedDate[i]}}, requested: </p>
                    <p class="card-text" v-else>{{submission.count}} user{{submission.count === 1 ? '' : 's'}} requested: </p>
                    <a :href="'/'+submission.uuid"><h5 class="card-title lead"><small>1 {{currencyFrom[i]}} = </small>{{rate[i]}}<small> {{currencyTo[i]}}</small></h5></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'submission-aggregate-card',
        props: {
            submissionsData: {
                type: Array,
                default: []
            }
        },
        data: function () {
            return {}
        },
        computed: {
            formattedDate () {
                return this.submissionsData.map(function (submission) {
                    var date = new Date(submission.latest_birthday);
                    return `${date.getOrdinalDay()} ${date.getMonthName()} ${date.getFullYear()}`;
                });
            },
            currencyFrom () {
                return this.submissionsData.map(function (submission) {
                    return 'EUR';
                });
            },
            currencyTo () {
                return this.submissionsData.map(function (submission) {
                    return submission.currency_code;
                });
            },
            rate () {
                return this.submissionsData.map(function (submission) {
                    return submission.latest_rate;
                });
            }
        },
        methods: {
        },
        created() {
            Date.prototype.monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            Date.prototype.getMonthName = function() {
                return this.monthNames[this.getMonth()];
            };
            Date.prototype.getOrdinalDay = function() {
                var day = this.getDate();
                return day + (day > 0 ? ['th', 'st', 'nd', 'rd'][(day > 3 && day < 21) || day % 10 > 3 ? 0 : day % 10] : '');
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
</style>