<template>
    <div class="submission_browser_month_container pb-4" v-if="!isEmpty" ref="container">
        <div class="h6 lead pb-2">{{month}} {{year}}</div>
        <div v-if="apiState === 'loading'" class="h-100 text-center py-4">
            <loading-spinner></loading-spinner>
        </div>
        <div v-if="apiState === 'failed'">
            <p class="card-text" v-html="errorMessage"></p>
        </div>
        <div v-if="apiState === 'loaded'">
            <div class="fluid-container">
                <div
                    class="row"
                    v-for="(row, i) in chunkedSubmissions"
                    :key="i"
                >
                    <template v-for="(submission, i) in row">
                        <submission-placeholder-card
                            v-if="typeof submission.placeholder !== 'undefined'"
                            :key="i"
                            :class="'col-md-'+(12/perRow)+' pb-3 d-none d-md-block'"
                        ></submission-placeholder-card>
                        <submission-aggregate-card
                            v-else
                            :key="i"
                            :class="'col-md-'+(12/perRow)+' pb-3'"
                            :submissions-data="submission"
                        ></submission-aggregate-card>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'submission-browser-month',
        props: {
            month: {
                type: String,
                required: true
            },
            year: {
                type: Number,
                required: true
            },
            perRow: {
                type: Number,
                default: 4
            }
        },
        data: function () {
            return {
                isEmpty: true,
                apiState: 'loading',
                errorMessage: '',
                submissions: [],
                currentMonth: "",
                currentYear: "",
                pageNumber: 1
            }
        },
        computed: {
            aggregatedSubmissions () {
                var aggregate = {};
                for (var i = 0; i < this.submissions.length; i++) {
                    if (typeof aggregate[this.submissions[i].latest_birthday] === 'undefined') {
                        aggregate[this.submissions[i].latest_birthday] = [Object.assign(this.submissions[i], {count: 1})];
                    } else if (aggregate[this.submissions[i].latest_birthday][aggregate[this.submissions[i].latest_birthday].length -1].currency_code == this.submissions[i].currency_code) {
                        aggregate[this.submissions[i].latest_birthday][aggregate[this.submissions[i].latest_birthday].length -1].count++;
                    } else {
                        aggregate[this.submissions[i].latest_birthday].push(Object.assign(this.submissions[i], {count: 1}));
                    }
                }
                return Object.values(aggregate);
            },
            chunkedSubmissions () {
                var chunked = [];
                for (var i = 0; i < this.aggregatedSubmissions.length; i += this.perRow) {
                    chunked.push(this.aggregatedSubmissions.slice(i, i + this.perRow));
                }

                // Add placeholder cards to maintain gestalt positioning and layout 
                if (chunked[chunked.length -1].length < this.perRow) {
                    var remaining = this.perRow - chunked[chunked.length -1].length;
                    for (var i = 0; i < remaining; i++) {
                        chunked[chunked.length -1].push({placeholder: true});
                    }
                }
                return chunked;
            }
        },
        methods: {
            loadPageFromAPI: async function () {
                // Load the submission's data from API
                await axios.get("/api/submissions?filter[latest_birthday_month]="+this.currentMonth+"&filter[latest_birthday_year]="+this.currentYear+"&page="+this.pageNumber)
                    .then(response => {
                        this.submissions = this.submissions.concat(response.data.data);
                        if (this.submissions.length > 0) {
                            this.isEmpty = false;
                        }
                        
                        // load next page
                        if (typeof response.data.pagination.links.next === 'string') {
                            this.pageNumber++;
                            return this.loadPageFromAPI();
                        }

                        this.apiState = 'loaded';
                        return true;
                    })
                    .catch(error => {
                        this.errorMessage = '<b>We were unable to load this page of submissions.</b>'
                        this.apiState = 'failed';
                    });
            }
        },
        created() {
            this.currentMonth = this.month;
            this.currentYear = this.year;
        },
        mounted() {
            this.loadPageFromAPI();
        }
    }
</script>

<style scoped>
</style>