<template>
    <div class="container">
        
        <form ref="form" action="/" method="post" class="py-4" @submit.prevent="formSubmit">
            <input type="hidden" ref="csrf_token" name="_token" value="">
            <div class="form-row text-left">
                <div class="col-7">
                    <small id="birthdateDate" class="form-text text-muted">Please enter the day & month of your birth:</small>
                </div>
                <div class="col-5">
                    <!-- <label for="currency">Currency</label> -->
                    <small id="currency" class="form-text text-muted">Please choose a currency:</small>
                </div>
            </div>
            <div class="form-row text-left">
                <div class="col-3">
                    <input
                        :disabled="formDisabled"
                        name="birthdateDay"
                        type="number"
                        class="form-control"
                        id="birthdateDay"
                        aria-describedby="birthdateDate"
                        value="1"
                        min="1"
                        :max="months[selectedMonth]"
                    />
                </div>
                <div class="col-4">
                    <!-- <input type="text" class="form-control" id="birthdateMonth" aria-describedby="birthdateDate" placeholder="01"> -->
                    <select
                        :disabled="formDisabled"
                        name="birthdateMonth"
                        class="custom-select"
                        id="birthdateMonth"
                        aria-describedby="birthdateDate"
                        v-model="selectedMonth"
                    >
                        <option
                            v-for="(limit, month) in months"
                            :key ="month"
                            :value="month" 
                        >
                        {{month}}
                        </option>
                    </select>
                </div>
                <div class="col-5">
                    <select
                        :disabled="formDisabled"
                        name="currency"
                        class="custom-select"
                        id="currency"
                        aria-describedby="currency"
                        v-model="selectedCurrency"
                    >
                        <option
                            :value="code" 
                            v-for="(symbol, code) in currencyCodes"
                            :key="code"
                        >
                            {{symbol}}
                        </option>
                    </select>
                </div>
            </div>
            <input
                :disabled="formDisabled"
                class="btn btn-outline-secondary mt-4"
                href="#"
                type="submit"
                :value="$mq === 'sm' ? 'View the '+selectedCurrency+' on your birthdays ↘' : 'View the value of the '+selectedCurrency+' on your previous birthdays ↘'"
            >
        </form>

    </div>
</template>

<script>
    export default {
        name: 'welcome-form',
        props: {
            currencyCodes: {
                type: Object,
                default: function () {
                    return {}
                }
            },
            formDisabled: {
                type: Boolean,
                default: false
            },
        },
        data: function () {
            return {
                months: {
                    'January': 31,
                    'February': 29,
                    'March': 31,
                    'April': 30,
                    'May': 31,
                    'June': 30,
                    'July': 31,
                    'August': 31,
                    'September': 30,
                    'October': 31,
                    'November': 30,
                    'December': 31
                },
                selectedMonth: 'January',
                selectedCurrency: 'USD'
            }
        },
        methods: {
            formSubmit() {
                if (this.formDisabled === false) {
                    this.$refs.form.submit();
                }
            }
        },
        mounted() {
            this.$refs.csrf_token.value = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }
    }
</script>
